<footer>
  <nav class="navbar navbar-expand border-top bg-natural-95">
    <div class="container">
      <div class="col-12 col-md-6">
        <ul class="navbar-nav flex-wrap flex-row justify-content-center py-8">
          <li class="nav-item">
            <a class="nav-link d-inline-block mb-md-0 mb-2" href="plan.html"
              >服務方案</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link d-inline-block mb-md-0 mb-2" href="about.html"
              >關於職旅</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link d-inline-block mb-md-0 mb-2" href="contact.html"
              >聯絡我們</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link d-inline-block mb-md-0 mb-2" href="private.html"
              >隱私權政策</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-inline-block mb-md-0 mb-2"
              href="user-rule.html"
              >用戶條款</a
            >
          </li>
        </ul>
        <div>
          <p class="d-md-none text-center fs-8 text-natural-50">
            Copyright © 2025 職旅 workway. All rights reserved.
          </p>
        </div>
      </div>
      <div class="d-none d-md-block col-md-6">
        <div class="d-flex justify-content-end">
          <p class="fs-8 text-natural-50">
            Copyright © 2025 職旅 workway. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </nav>
</footer>
