<section class="tel py-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card bg-primary">
          <div class="card-body p-0 px-8 pb-5">
            <div class="pt-5 pb-5 border-bottom-dashed">
              <img
                src="../assets/images/logo/logo-icon-w.svg"
                alt="logo"
                class="mb-5"
              />
              <h3 class="text-white fs-2 fw-bold lh-sm mb-3">
                邁向你真正想過的生活，從這裡開始
              </h3>
              <p class="text-white fs-6 lh">
                第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <div>
                <p
                  class="mt-5 fs-5 text-white mb-4 fw-medium d-flex align-items-center"
                >
                  <span
                    class="material-symbols-outlined text-white me-2 fw-medium"
                  >
                    call </span
                  >0800-123-123<span class="me-5"></span
                  ><span
                    class="material-symbols-outlined text-white me-2 fw-medium"
                  >
                    mail </span
                  >Sample@mail.com
                </p>
              </div>
              <a
                href="#"
                class="btn btn-black btn-lg mt-md-5 fs-7 lh py-3 pe-3 d-inline-flex align-items-center justify-content-center"
              >
                預約免費職涯探索<span class="material-symbols-outlined ms-1">
                  chevron_right
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
