<section class="tel py-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card bg-primary">
          <div class="card-body p-0 px-5 py-4 py-md-5 px-md-8 pb-5">
            <div>
              <img
                src="../assets/images/logo/logo-icon-w.svg"
                alt="logo"
                class="mb-5"
              />
              <h3 class="text-white fs-3 fs-md-2 fw-bold lh-sm mb-3">
                邁向你真正想過的生活，從這裡開始
              </h3>
              <p
                class="text-white fs-6 lh border-bottom-dashed pb-5 mb-4 mb-md-5"
              >
                第一次諮詢只要 30 分鐘，可能改變你未來 30 年的生活方式
              </p>

              <!-- 聯絡電話 -->
              <div
                class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between"
              >
                <div class="d-flex flex-column flex-md-row mb-6 mb-md-0">
                  <div class="d-flex align-items-center mb-4 mb-md-0">
                    <span
                      class="material-symbols-outlined text-white me-2 fw-medium"
                    >
                      call
                    </span>
                    <span
                      class="text-white fw-medium fs-6 fs-md-5 lh-sm me-md-5"
                    >
                      0800-123-123
                    </span>
                  </div>
                  <div class="d-flex align-items-centerfs-6 fs-md-5 mb-md-0">
                    <span
                      class="material-symbols-outlined text-white me-2 fw-medium"
                    >
                      mail
                    </span>
                    <span class="text-white fw-medium fs-5 lh-sm"
                      >Sample@mail.com</span
                    >
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-black pe-2 pe-md-3 fs-7 d-flex align-items-center justify-content-center"
                  >
                    預約免費職涯探索<span
                      class="material-symbols-outlined ms-1"
                    >
                      chevron_right
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
