//plan&about banner
.about-intro {
  background-image: url("../images/plan/banner-person.svg"),
    url("../images/plan/banner-bg-pc.png");
  background-repeat: no-repeat, no-repeat;

  background-position: calc(90%) calc(100%), center;
  background-size: auto, cover;
}

//hot 選取器
.plan-lab {
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transform: all 0.3s;
}

.plan-radio[type="radio"] {
  display: none;
}

.plan-radio[type="radio"]:checked + .plan-lab {
  border: 2px solid $secondary;
  &::before {
    content: "HOT";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    background-color: $secondary;
    border-bottom-right-radius: 12px;
    padding: 8px 16px;
  }
}

//.plan-consult
.plan-consult {
  background-color: $natural-95;
}
.mt-120 {
  margin-top: 120px;
}

//subscription
.subscription {
  background: linear-gradient(to bottom, $natural-95 50%, transparent 50%);
  background-color: $white;
}
//subscription背景
.card-cloud-content {
  background-image: url("../images/plan/subscribe-3.svg"); /* 雲朵 SVG 圖片路徑 */
  background-repeat: no-repeat;
  background-position: right top; /* 讓雲朵底部對齊容器底部 */
  background-size: 72% auto; /* 寬度100%，高度自動調整 */
}

//響應式
@media (max-width: 1024px) {
  .about-intro {
    background-image: url("../images/plan/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .subscribe-1,
  .subscribe-2 {
    display: none;
  }
  .card-cloud-content {
    background-image: url("../images/plan/subscribe-3.svg"); /* 雲朵 SVG 圖片路徑 */
    background-repeat: no-repeat;
    background-position: right top; /* 讓雲朵底部對齊容器底部 */
    background-size: 150% auto; /* 寬度100%，高度自動調整 */
  }
}

@media (max-width: 991px) {
  .plan-1,
  .plan-2,
  .plan-3 {
    display: none;
  }
}
