<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week6 職旅｜關於職旅</title>
    <%- include('./layout/iconlink'); -%>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header-login'); -%>
    <!-- about-banner -->
    <section class="about-intro py-md-11 py-8 position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="fs-md-1 fs-2 fw-bold lh-sm text-center mb-md-8 mb-5">
              關於職旅
            </h1>
          </div>
          <div class="col-12 col-md-8">
            <p class="fs-md-6 fs-7 lh text-natural-50 text-center">
              職旅 WorkWay
              匯集了來自不同領域、擁有豐富實戰經驗的自由工作者與數位遊牧專家。根據你的需求和階段，我們提供一對一諮詢。<br />無論你是剛開始探索期，還是已在轉型路上遇到瓶頸，我們都能提供適合你的專業指導。
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- about-partner -->
    <section class="about-partner py-md-11 py-8">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-md-8 mb-5">
            <h2 class="fs-md-2 fs-3 fw-bold lh-sm mb-md-5 mb-4">
              精實的職旅夥伴
            </h2>
            <p class="fs-md-6 fs-7 lh text-natural-50">
              我們相信，最好的指導來自於那些已經走過你想走的路，並願意伸出手拉你一把的人。
            </p>
          </div>
          <div class="col-12 mb-md-8 mb-5">
            <div class="swiper about-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide card overflow-hidden shadow rounded-3">
                  <div class="card-header border-0 p-0">
                    <img
                      src="../assets/images/about/mentor-1.png"
                      class="card-img-top img-fluid object-fit-cover"
                      alt="mentor-1 "
                    />
                  </div>
                  <div class="card-body">
                    <p class="fs-7 lh-sm fw-medium text-natural-50 mb-2">
                      數位遊牧先驅
                    </p>
                    <h5 class="fs-4 fw-medium lh-sm mb-md-5">
                      陳志遠 Ethan Chen
                    </h5>
                    <div class="mb-md-6">
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 遠端工作策略</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 數位遊牧生活設計</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card overflow-hidden shadow rounded-3">
                  <div class="card-header border-0 p-0">
                    <img
                      src="../assets/images/about/mentor-2.png"
                      class="card-img-top img-fluid object-fit-cover"
                      alt="mentor-2 "
                    />
                  </div>
                  <div class="card-body">
                    <p class="fs-7 lh-sm fw-medium text-natural-50 mb-2">
                      個人品牌策略專家
                    </p>
                    <h5 class="fs-4 fw-medium lh-sm mb-md-5">
                      林曉彤 Clara Lin
                    </h5>
                    <div class="mb-md-6">
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2 mb-1"
                        ># 個人品牌建立</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 內容行銷策略</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 故事行銷</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card overflow-hidden shadow rounded-3">
                  <div class="card-header border-0 p-0">
                    <img
                      src="../assets/images/about/mentor-3.png"
                      class="card-img-top img-fluid object-fit-cover"
                      alt="mentor-3 "
                    />
                  </div>
                  <div class="card-body">
                    <p class="fs-7 lh-sm fw-medium text-natural-50 mb-2">
                      財務自由規劃顧問
                    </p>
                    <h5 class="fs-4 fw-medium lh-sm mb-md-5">王建明 Marcus</h5>
                    <div class="mb-md-6">
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2 mb-1"
                        ># 稅務優化</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 被動收入建立</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 現金流管理</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card overflow-hidden shadow rounded-3">
                  <div class="card-header border-0 p-0">
                    <img
                      src="../assets/images/about/mentor-4.png"
                      class="card-img-top img-fluid object-fit-cover"
                      alt="mentor-4 "
                    />
                  </div>
                  <div class="card-body">
                    <p class="fs-7 lh-sm fw-medium text-natural-50 mb-2">
                      創意接案與多元收入專家
                    </p>
                    <h5 class="fs-4 fw-medium lh-sm mb-md-5">張雅琳 Ariel</h5>
                    <div class="mb-md-6">
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 創意變現策略</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 線上課程開發</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card overflow-hidden shadow rounded-3">
                  <div class="card-header border-0 p-0">
                    <img
                      src="../assets/images/about/mentor-5.png"
                      class="card-img-top img-fluid object-fit-cover"
                      alt="mentor-5 "
                    />
                  </div>
                  <div class="card-body">
                    <p class="fs-7 lh-sm fw-medium text-natural-50 mb-2">
                      遠端工作技術顧問
                    </p>
                    <h5 class="fs-4 fw-medium lh-sm mb-md-5">
                      李俊宏 Kevin Lee
                    </h5>
                    <div class="mb-md-6">
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 專案管理自動化</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 虛擬團隊管理</a
                      >
                    </div>
                  </div>
                </div>
                <div class="swiper-slide card overflow-hidden shadow rounded-3">
                  <div class="card-header border-0 p-0">
                    <img
                      src="../assets/images/about/mentor-6.png"
                      class="card-img-top img-fluid object-fit-cover"
                      alt="mentor-6 "
                    />
                  </div>
                  <div class="card-body">
                    <p class="fs-7 lh-sm fw-medium text-natural-50 mb-2">
                      遠端工作技術顧問
                    </p>
                    <h5 class="fs-4 fw-medium lh-sm mb-md-5">張雅婷 Jenny</h5>
                    <div class="mb-md-6">
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 專案管理自動化</a
                      >
                      <a
                        href="#"
                        class="btn btn-outline-natural-85 py-1 px-2 text-natural-50 fs-8 me-2"
                        ># 虛擬團隊管理</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div
              class="bg-primary pt-md-5 pb-md-8 px-md-8 py-4 px-5 rounded-3 text-center"
            >
              <img
                src="../assets/images/about/teambliud.png"
                alt="teambliud"
                class="mb-md-5 mb-4"
              />
              <div class="row justify-content-center mb-md-8 mb-5">
                <div class="col-md-8">
                  <p class="text-white fs-7 fs-14 lh">
                    我們不只是顧問，更是你職業轉型路上的夥伴與同行者。我們深知轉型過程中的不確定與恐懼，也經歷過停滯不前的困境。正因如此，我們更懂得如何陪你走過這段旅程，不只指引方向，更與你並肩同行。
                  </p>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <img
                    src="../assets/images/about/text-pc.svg"
                    alt="text-pc"
                    class="text-pc d-none d-md-block img-fluid object-fit-cover mx-auto"
                  />
                  <img
                    src="../assets/images/about/text-mb.svg"
                    alt="text-mb"
                    class="text-pc d-block d-md-none img-fluid object-fit-cover"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about-info -->
    <section class="about-info py-md-11 py-8">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-md-8 mb-5">
            <h2 class="fs-md-2 fs-3 fw-bold lh-sm">公司資訊</h2>
          </div>
          <div class="col-12">
            <div class="card bg-white">
              <div class="card-body p-md-8 p-5">
                <div class="mb-md-8 mb-5">
                  <div class="p-md-5 py-4 border-bottom">
                    <h6 class="fs-7 fs-14 fw-bold lh-sm text-natural-50">
                      公司位置
                      <span class="text-black fw-medium lh-sm ms-5"
                        >110台北市信義區信義路五段7號</span
                      >
                    </h6>
                  </div>
                  <div class="p-md-5 py-4 border-bottom">
                    <h6 class="fs-7 fs-14 fw-bold lh-sm text-natural-50">
                      負責人
                      <span class="text-black fw-medium lh-sm ms-7"
                        >張世明</span
                      >
                    </h6>
                  </div>
                  <div class="p-md-5 py-4 border-bottom">
                    <h6 class="fs-7 fs-14 fw-bold lh-sm text-natural-50">
                      聯絡專線
                      <span class="text-black fw-medium lh-sm ms-5"
                        >02-2758-6600</span
                      >
                    </h6>
                  </div>
                  <div class="p-md-5 py-4 border-bottom">
                    <div class="d-flex">
                      <h6
                        class="fs-7 fs-14 fw-bold lh-sm text-natural-50 me-1"
                        style="white-space: nowrap"
                      >
                        營業時間
                      </h6>
                      <p class="fs-7 fs-14 text-black fw-medium lh-sm ms-5">
                        週一至週五 10:00～18:00（國定假日休息）
                      </p>
                    </div>
                  </div>
                  <div class="p-md-5 py-4 border-bottom">
                    <h6 class="fs-7 fs-14 fw-bold lh-sm text-natural-50">
                      電子郵件
                      <span class="text-black fw-medium lh-sm ms-5"
                        >contact@workway.tw</span
                      >
                    </h6>
                  </div>
                  <div class="p-md-5 py-4 border-bottom">
                    <h6 class="fs-7 fs-14 fw-bold lh-sm text-natural-50">
                      成立時間
                      <span class="text-black fw-medium lh-sm ms-5"
                        >2023 年 6 月</span
                      >
                    </h6>
                  </div>
                  <div class="p-md-5 py-4 border-bottom">
                    <h6 class="fs-7 fs-14 fw-bold lh-sm text-natural-50">
                      統一編號
                      <span class="text-black fw-medium lh-sm ms-5"
                        >83149276</span
                      >
                    </h6>
                  </div>
                </div>
                <img
                  src="../assets/images/plan/map.png"
                  alt="map"
                  class="img-fluid object-fit-cover"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- tel -->
    <%- include('./layout/tel')-%> <%- include('./layout/footer')-%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
