<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week6 職旅｜服務方案</title>
    <%- include('./layout/iconlink'); -%>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header-notlogin'); -%>
    <!-- plan-banner -->
    <section class="plan-about-intro py-md-11 py-7 position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="fs-md-1 fs-2 fw-bold lh-sm text-center mb-md-8 mb-5">
              服務方案
            </h1>
          </div>
          <div class="col-md-8">
            <p class="fs-md-6 fs-7 lh text-natural-50 text-center">
              我們最全面的服務方案，為您提供從評估、規劃到實踐的完整支持。不再擔心轉型過程中的各種挑戰，我們的專家團隊將全程陪伴，確保您順利實現職業自由。
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- plan-proposal -->
    <section class="plan-proposal py-md-11 py-7">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-md-8">
            <img src="../assets/images/logo/goal.png" alt="goal" class="mb-1" />
            <h3 class="fs-md-2 fs-3 fw-bold lh-sm mb-md-5 mb-4">
              職涯轉型全程計畫
            </h3>
            <p class="fs-md-6 fs-7 lh text-natural-50 mb-5 mb-md-0">
              從企業到自由，無縫轉型之旅
            </p>
          </div>
          <div class="col-12">
            <ul class="list-unstyled fs-14">
              <li class="mb-md-5 mb-4">
                <input
                  type="radio"
                  class="plan-radio"
                  name="plan-proposal-select"
                  id="plan1"
                  value="card-plan1"
                  checked
                />
                <label
                  for="plan1"
                  class="plan-lab d-flex align-items-start shadow rounded-3 py-8 px-5 p-md-8 mb-md-5"
                >
                  <div class="flex-grow-1 me-5">
                    <p class="text-primary fw-medium lh-sm mb-2 fs-14">
                      全面方案
                    </p>
                    <h4 class="fs-md-4 fs-5 fw-medium lh-sm mb-2">
                      職涯轉型全程計畫
                    </h4>
                    <p class="lh mb-2 fs-14">
                      針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。
                    </p>
                    <ul class="list-unstyled fs-14 mb-md-5 mb-4">
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >深度職能轉換評估與規劃
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >跨領域技能遷移策略
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >新領域人脈建立指導
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >長期職涯發展藍圖
                      </li>
                    </ul>
                    <div class="bg-natural-95 rounded-2 p-5 mb-md-5 mb-4">
                      <p class="lh mb-2 fs-14">
                        適合對象：<span class="fw-bold lh-sm"
                          >從企業職場轉型為自由工作者 /
                          數位遊牧者的專業人士</span
                        >
                      </p>
                      <p class="lh fs-14">
                        優惠價格：<span
                          class="text-primary fw-bold lh-sm fs-md-4 fs-5"
                          >NT$ 120,000</span
                        >
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-black btn-lg fs-7 lh py-3 pe-3 d-inline-flex align-items-center justify-content-center"
                    >
                      我有興趣<span class="material-symbols-outlined ms-1">
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <img
                    src="../assets/images/plan/plan-1.svg"
                    alt="plan-1"
                    class="plan-1 img-fluid object-fit-cover"
                  />
                </label>
              </li>
              <li class="mb-md-5 mb-4">
                <input
                  class="plan-radio"
                  type="radio"
                  name="plan-proposal-select"
                  id="plan2"
                  value="card-plan2"
                />
                <label
                  for="plan2"
                  class="plan-lab d-flex align-items-start shadow rounded-3 py-8 px-5 p-md-8 mb-md-5"
                >
                  <div class="flex-grow-1 me-5">
                    <p class="text-primary fw-medium lh-sm mb-2 fs-14">
                      加速方案
                    </p>
                    <h4 class="fs-md-4 fs-5 fw-medium lh-sm mb-2">
                      自由工作加速計畫
                    </h4>
                    <p class="lh mb-2 fs-14">
                      為已確定要轉型但需要全面規劃的專業人士設計。六次深度諮詢，從心態調整到實際操作，全方位為您的轉型做好準備。
                    </p>
                    <ul class="list-unstyled mb-md-5 mb-4 fs-14">
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >詳細的市場機會分析
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >個人優勢定位與差異化策略
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >完整的轉型時間表與里程碑
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >轉型期間的心理健康維護策略
                      </li>
                    </ul>
                    <div class="bg-natural-95 rounded-2 p-5 mb-md-5 mb-4">
                      <p class="lh mb-2 fs-14">
                        適合對象：<span class="fw-bold lh-sm"
                          >已經開始自由工作但想提升效能和收入的專業人士</span
                        >
                      </p>
                      <p class="lh fs-14">
                        優惠價格：<span
                          class="text-primary fw-bold lh-sm fs-md-4 fs-5"
                          >NT$ 80,000</span
                        >
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-black btn-lg fs-7 lh py-3 pe-3 d-inline-flex align-items-center justify-content-center"
                    >
                      我有興趣<span class="material-symbols-outlined ms-1">
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <img
                    src="../assets/images/plan/plan-2.svg"
                    alt="plan-2"
                    class="plan-2 img-fluid object-fit-cover"
                  />
                </label>
              </li>
              <li class="mb-md-5 mb-4">
                <input
                  type="radio"
                  class="plan-radio"
                  name="plan-proposal-select"
                  id="plan3"
                  value="card-plan3"
                />
                <label
                  for="plan3"
                  class="plan-lab d-flex align-items-start shadow rounded-3 py-8 px-5 p-md-8 mb-md-5"
                >
                  <div class="flex-grow-1 me-5">
                    <p class="text-primary fw-medium lh-sm mb-2 fs-14">
                      遊牧方案
                    </p>
                    <h4 class="fs-md-4 fs-5 fw-medium lh-sm mb-2">
                      數位遊牧生活計畫
                    </h4>
                    <p class="lh mb-2 fs-14">
                      針對希望完全改變職業領域的資深專業人士。我們的專家團隊將協助您將過往經驗轉化為新領域的競爭優勢。
                    </p>
                    <ul class="list-unstyled mb-md-5 mb-4 fs-14">
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >深度職能轉換評估與規劃
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >新領域人脈建立指導
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >跨領域技能遷移策略
                      </li>
                      <li class="d-flex align-items-center mb-1">
                        <span
                          class="material-symbols-outlined text-primary me-2"
                        >
                          stat_0 </span
                        >長期職涯發展藍圖
                      </li>
                    </ul>
                    <div class="bg-natural-95 rounded-2 p-5 mb-md-5 mb-4">
                      <p class="lh mb-2 fs-14">
                        適合對象：<span class="fw-bold lh-sm"
                          >希望同時擁有工作自由和地域自由的專業人士</span
                        >
                      </p>
                      <p class="lh fs-14">
                        優惠價格：<span
                          class="text-primary fw-bold lh-sm fs-md-4 fs-5"
                          >NT$ 60,000</span
                        >
                      </p>
                    </div>
                    <a
                      href="#"
                      class="btn btn-black btn-lg fs-7 lh py-3 pe-3 d-inline-flex align-items-center justify-content-center"
                    >
                      我有興趣<span class="material-symbols-outlined ms-1">
                        chevron_right
                      </span>
                    </a>
                  </div>
                  <img
                    src="../assets/images/plan/plan-3.svg"
                    alt="plan-3"
                    class="plan-3 img-fluid object-fit-cover"
                  />
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- plan-consult -->
    <section class="plan-consult py-md-11 py-8">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-md-8 mb-5">
            <img
              src="../assets/images/logo/conversation.png"
              alt="conversation"
              class="mb-1"
            />
            <h3 class="fs-md-2 fs-3 fw-bold lh-sm mb-md-5 mb-4">
              基礎諮詢服務
            </h3>
            <p class="fs-md-6 fs-7 lh text-natural-50">
              我們提供第一次免費諮詢，一起建立信任的橋樑
            </p>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <input
              class="plan-radio"
              type="radio"
              name="plan-consult-select"
              id="consult1"
              value="consult1"
            />
            <label
              for="consult1"
              class="h-100 p-5 plan-lab bg-white d-flex flex-column rounded-3 shadow justify-content-center align-items-center"
            >
              <img
                src="../assets/images/plan/server-1.svg"
                alt="server-1"
                class="img-fluid object-fit-cover mb-md-5 mb-4"
                style="width: 160px; height: 160px"
              />
              <h4 class="fs-md-4 fs-5 fw-bold lh-sm mb-2">職涯探索評估</h4>
              <p class="fs-8 text-natural-50 lh mb-2">
                3 次一對一諮詢，了解可能性和適配性
              </p>
              <p class="fs-md-4 fs-5 text-primary fw-bold lh-sm mb-md-5 mb-4">
                NT$ 3,800
              </p>
              <a
                href="#"
                class="btn btn-black btn-lg fs-7 fs-14 lh py-3 pe-md-3 px-3 d-inline-flex align-items-center justify-content-center"
              >
                我有興趣<span class="material-symbols-outlined ms-1">
                  chevron_right
                </span>
              </a>
            </label>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <input
              type="radio"
              class="plan-radio"
              name="plan-consult-select"
              id="consult2"
              value="consult2"
              checked
            />
            <label
              for="consult2"
              class="h-100 p-5 plan-lab bg-white d-flex flex-column rounded-3 shadow justify-content-center align-items-center"
            >
              <img
                src="../assets/images/plan/server-2.svg"
                alt="server-2"
                mb-4
                class="img-fluid object-fit-cover mb-md-5"
                style="width: 160px; height: 160px"
              />
              <h4 class="fs-md-4 fs-5 fw-bold lh-sm mb-2">職涯轉型規劃</h4>
              <p class="fs-8 text-natural-50 lh mb-2">
                6 次深度諮詢，建立完整轉型藍圖
              </p>
              <p class="fs-md-4 fs-5 text-primary fw-bold lh-sm mb-md-5 mb-4">
                NT$ 12,000
              </p>
              <a
                href="#"
                class="btn btn-black btn-lg fs-7 fs-14 lh py-3 pe-md-3 px-3 d-inline-flex align-items-center justify-content-center"
              >
                我有興趣<span class="material-symbols-outlined ms-1">
                  chevron_right
                </span>
              </a>
            </label>
          </div>
          <div class="col-md-4 mb-4 mb-md-0">
            <input
              class="plan-radio"
              type="radio"
              name="plan-consult-select"
              id="consult3"
              value="consult3"
            />
            <label
              for="consult3"
              class="h-100 p-5 plan-lab bg-white d-flex flex-column rounded-3 shadow justify-content-center align-items-center"
            >
              <img
                src="../assets/images/plan/server-3.svg"
                alt="server-3"
                class="img-fluid object-fit-cover mb-md-5 mb-4"
                style="width: 160px; height: 160px"
              />
              <h4 class="fs-md-4 fs-5 fw-bold lh-sm mb-2">
                專業定位與品牌建立
              </h4>
              <p class="fs-8 text-natural-50 lh mb-2">
                4 次專業諮詢，確立市場定位與差異化策略
              </p>
              <p class="fs-md-4 fs-5 text-primary fw-bold lh-sm mb-md-5 mb-4">
                NT$ 8,800
              </p>
              <a
                href="#"
                class="btn btn-black btn-lg fs-7 fs-14 lh py-3 pe-md-3 px-3 d-inline-flex align-items-center justify-content-center"
              >
                我有興趣<span class="material-symbols-outlined ms-1">
                  chevron_right
                </span>
              </a>
            </label>
          </div>
        </div>
      </div>
    </section>
    <!-- subscription -->
    <section class="subscription py-md-11 py-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center mb-md-8 mb-5">
            <img src="../assets/images/logo/love.png" alt="love" class="mb-1" />
            <h3 class="fs-2 fw-bold lh-sm">持續支持方案</h3>
          </div>
          <div class="col-md-8">
            <div
              class="card bg-secondary-90 border-2 border-secondary overflow-hidden"
            >
              <div class="card-body p-0 text-center">
                <div class="card-cloud-content">
                  <div class="row">
                    <div class="col-md-3">
                      <img
                        src="../assets/images/plan/subscribe-1.svg"
                        alt="subscribe-1"
                        class="mt-120 subscribe-1"
                      />
                    </div>
                    <div class="col-md-6 p-8">
                      <p class="fs-md-4 fs-5 fw-medium lh-sm mb-2">
                        職旅會員計畫
                      </p>
                      <p class="fs-7 fs-14 fw-medium lh mb-8">
                        享有長期社群支持與資源服務
                      </p>
                      <div class="mb-8">
                        <span
                          class="text-primary fs-md-4 fs-5 fw-bold lh-sm me-2"
                          >NT$ 9,800</span
                        >
                        <span class="fs-7 fs-14 lh me-2">/年</span>
                        <span class="fs-7 fs-14 lh fw-medium"
                          >( NT$1,200 /月)</span
                        >
                      </div>
                      <a
                        href="#"
                        class="btn btn-black btn-lg fs-7 fs-14 lh py-3 pe-md-3 px-3 d-inline-flex align-items-center justify-content-center"
                      >
                        我有興趣<span class="material-symbols-outlined ms-1">
                          chevron_right
                        </span>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <img
                        src="../assets/images/plan/subscribe-2.svg"
                        alt="subscribe-2"
                        class="mt-120 subscribe-2"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- tel -->
    <%- include('./layout/tel')-%> <%- include('./layout/footer')-%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
